html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

html {
   font-size:62.5%;
}

body {
   color: #222222;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 16px;
   font-size: 1.6rem;
   line-height: 2.8rem;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
}

button {
   padding: 2rem;
   margin: 2rem;

   color: WHITE;
   background-color: DODGERBLUE;

   border: none;
   border-radius: 0.3rem;
   box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.15);
   transform: translate(0%, 0rem);
   cursor: pointer;

   -webkit-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

button:hover {
   background-color: DEEPSKYBLUE;
   transform: translate(0%, -0.2rem);
   box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.15);
}

input[type=url] {
   min-width: 50%;
   padding: 1.5rem;
   margin: 3rem;
   text-align: center;

   border: 0.1rem solid DEEPSKYBLUE;
   border-radius: 0.3rem;
}

.cat-egories {
    display: flex;
    justify-content: space-around;
    min-width: 50%;
}
